*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(45deg, #fff 60%, #4481eb, #3666ba );
    background: -moz-linear-gradient(45deg, #fff 60%, #4481eb, #3666ba);
    background: -webkit-linear-gradient(45deg, #fff 60%, #4481eb ,#3666ba);
}

#PLogin{
    display: flex;
    align-items: center;
    justify-content: center;
}

#log-in{
    width: 90%;
    z-index: 99;  
    max-width: 700px;
}

#Piedepagina{
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.sticky-top{
  z-index: 1 !important;
}

#Piedepagina a{
    text-decoration: none;
}

#dolar-price:hover{
    color: #fff !important;
}

.nav-item{
    border-bottom: 1px solid transparent;
    transition: all .3s ease;
    margin: 0px 5px;
}

.nav-item:hover{
    border-bottom: 1px solid #363636;
}


.dropdown-item:hover{
    font-weight:600;
}


.input-buscar{
  min-width: 300px;
}

.input-buscar input:focus{
  box-shadow: none;
}

.tabla-datos{
  overflow-y: scroll;
  max-height: 50vh !important;
  background: rgba(255, 255, 255, 1);
}

#preloader{
    display:flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 9999;
    background: linear-gradient(#3666ba, #4481eb );
    background: -moz-linear-gradient(#3666ba, #4481eb);
    background: -webkit-linear-gradient( #3666ba ,#4481eb);
    clip-path: circle(141.4% at 100% 0);
    
}

.preloader-cierre{
  clip-path: circle(0% at 100% 0) !important;
  transition: clip-path .8s ease-in-out;
}


.preloader-text{
    color: #fff;
    margin: 0px 10px;
}


.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.8s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

.boton-accion{
  width: 35px;
}

.th-accion{
  max-width: 100px;
}

#Referencias{
  max-width: 600px;
}
